# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\coursMaster\coursMaster1S2\TER-ALLBOT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
